<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005896242828-huvtt9j77663g2j04qrnvrl0o719s0lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005896242828-huvtt9j77663g2j04qrnvrl0o719s0lk</string>
	<key>API_KEY</key>
	<string>AIzaSyC7HdIjFKLPsafdFCAvze5v3CxDVmxlR4c</string>
	<key>GCM_SENDER_ID</key>
	<string>1005896242828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.wynai.wynmotion</string>
	<key>PROJECT_ID</key>
	<string>wordai-6779e</string>
	<key>STORAGE_BUCKET</key>
	<string>wordai-6779e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005896242828:ios:d7cae5ce45a84ea18a8da9</string>
</dict>
</plist>